@model RemindONServer.Models.Prescription

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Prescription</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="DeviceSerialNumber" class="control-label"></label>
                <input asp-for="DeviceSerialNumber" class="form-control" />
                <span asp-validation-for="DeviceSerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="text1" class="control-label"></label>
                <input asp-for="text1" class="form-control" />
                <span asp-validation-for="text1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="text2" class="control-label"></label>
                <input asp-for="text2" class="form-control" />
                <span asp-validation-for="text2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeekDays" class="control-label"></label>
                <input asp-for="WeekDays" class="form-control" />
                <span asp-validation-for="WeekDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DayTimes" class="control-label"></label>
                <input asp-for="DayTimes" class="form-control" />
                <span asp-validation-for="DayTimes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
